.sidebar {
  position: fixed;
  height: 100vh;
  width: 200px;
  background: linen;
  padding: 12px 0;
}

.sidebar > a {
  display: block;
  padding: 12px 24px;
}

.main {
  padding: 12px 24px 24px 224px;
}

.header {
  text-align: right;
  margin-bottom: 12px;
}

.activeLink {
  background: rgba(255, 192, 201, 0.4);
}
